.bgContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    line-height: 1.6;
  }

  .bgContainer h2,
.bgContainer p {
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  text-transform: capitalize;
}

.bgContainer h2 {
  font-size: 5rem;
}

.bgContainer p {
  font-size: 2rem;
}

.link {
    color: white;
    text-decoration: none;
}
.link :hover{
    color:white;
}

.history {
    padding: 50px 30px 50px 30px;
    display: flex;
}

.left_title_info{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.right_title_info {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}


.sub_title {
    font-family: Barlow,sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #888;
    padding-bottom: 1rem;
}

.title {
    font-family: Barlow,sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #222;
    margin-bottom: 30px;
}

.text {
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222;
  line-height: 30px;
}

.image_container{
  text-align: center;
}

.image {
  width: 90%;
}

.introduce_team {
  margin-top: 100px;
  text-align: center;
}

.title_team{
  margin-bottom: 30px;
  font-family: Barlow,sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #222;
  margin-bottom: 30px;
}

@media (max-width: 739px) {
  .history{
    flex-wrap: wrap;
  }
}