.divContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5%;
}

.divContainer .cardBlog {
    display: inline;
    width: 32%;

    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 7px rgba(0,0,0,.15);

    border-radius: 5px;
}

.divContainer .cardBlog img {
    width: 100%;
    max-width: 100%;
}

.cardBlog  p {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    padding-left: 10px;

    line-height: 2rem;
}
.cardBlog time  {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}

.cardBlog article {
    padding-left: 10px;
    padding-right: 10px;
}
.cardBlog article a {
    color: black;
    text-decoration: none;

    line-height: 2rem;

    font-size: 3rem;
    font-weight: bold;
}

.cardBlog p:last-child {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    line-height: 2rem;

    font-size: 1.7rem;
    font-weight: 400;
}

@media (max-width: 739px) {
    .cardBlog article a {
        font-size: 2rem;
    }
    .cardBlog p:last-child {
        font-size: 1.5rem;
    }
}