section.sectionContainer {
    display: flex;
    justify-content: center;

    margin-top: 70px;
    margin-bottom: 50px;

}

.sectionContainer .serviceDiv {
    width: 15%;

    text-align: center;

    border-right: black 2px solid;

    padding-left: 15px;
    padding-right: 15px;

}
.sectionContainer .serviceDiv:last-child {   
    border: none;
    padding: none;
}

.serviceDiv img {
    width: 60px;
    margin-bottom: 15px;
}


.serviceDiv h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    
    margin-bottom: 5px;
}

.serviceDiv h3 {
    font-size: 1.6rem;
    font-weight: 400;

    margin-bottom: 5px;
}



@media (max-width: 1365px) {
    .sectionContainer .serviceDiv {
        width: 20%;
    }

    .serviceDiv h2 {
        font-size: 1.7rem;
    }
    .serviceDiv h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1039px) {
    .sectionContainer .serviceDiv {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 739px) {
    .sectionContainer .serviceDiv {
        margin-left: 5px;
        margin-right: 5px;

        padding-left: 10px;
        padding-right: 15px;
    }
}